.App {
  text-align: center;
  padding: 20px;
}

form {
  margin-bottom: 20px;
  
}

input, textarea {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 80%;
  max-width: 500px;
}

button {
  padding: 10px 20px;
  background-color:  #dcef0f;
  color: rgb(0, 4, 5);
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.task-item {
  background-color: #b7b7b7;
  padding: 15px;
  margin: 10px auto;
  width: 80%;
  max-width: 500px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.task-item h3 {
  margin: 0;
}

.task-item p {
  margin: 5px 0;
}

.task-item button {
  color: rgb(0, 4, 5);
  background-color: #dcef0f;
}

.task-item button:hover {
  background-color: #d32f2f;
}